/* -----------------------------
Common Styles or Utilities Start
-------------------------------- */
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	max-width: 1200px;
	margin: 0 auto;
}
html {
	/* max-width: 1200px; */
	/* margin: 0 auto; */
}
body {
	font-family: 'Work Sans', sans-serif;
}

.btn-primary {
	font-weight: 600;
	font-size: 20px;
	color: #ffffff;
	border: none;
	padding: 21px 25px;
	background-color: #ff900e;
	border-radius: 8px;
}
/* -----------------------------
Common Styles or Utilities End
-------------------------------- */

/* --------------------------
  Header Section Style Start
----------------------------- */
.heading {
	background-color: rgba(255, 144, 14, 0.1);
}

/* Navigation Section */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 50px;
}
.nav-title {
	font-weight: 700;
	font-size: 45px;
	color: #131313;
}
nav ul {
	display: flex;
	gap: 40px;
}
nav li {
	list-style: none;
}
nav li a {
	text-decoration: none;
	font-weight: 500;
	font-size: 18px;
	color: #424242;
}
nav li a:hover {
	background-color: gold;
	padding: 5px 7px;
	border-radius: 7px;
}

/* Banner Section */
.banner {
	margin-top: 102px;
	display: flex;
	flex-direction: column;
}
.banner__info {
	text-align: center;
	margin-bottom: 50px;
}
.banner__info-title {
	font-weight: 700;
	font-size: 64px;
	color: #131313;
	margin-bottom: 25px;
}
.banner__info-desc {
	font-weight: 400;
	font-size: 16px;
	color: #727272;
	margin-bottom: 32px;
}
.banner__info-btn {
}

.banner__img img {
	width: 100%;
	border-radius: 8px;
	padding-bottom: 45px;
}

/* --------------------------
  Header Section Style End
----------------------------- */

/* --------------------------
  Main Section Style Start
----------------------------- */

/* Quick list */
.quickList {
	margin-top: 85px;
	display: flex;
	align-items: center;
}
.quickList__img {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 24px;
	margin-right: 73px;
}
.quickList__img img {
	width: 100%;
}
.quickList__info {
}
.quickList__info-title {
	font-weight: 500;
	font-size: 45px;
	margin-bottom: 24px;
}
.quickList__info-desc {
	color: #727272;
	margin-bottom: 32px;
	font-weight: 400;
	font-size: 16px;
}
.quickList__info-btn {
	font-weight: 600;
	font-size: 20px;
}

/* love & enjoy */
.loveEnjoy {
	margin-top: 130px;
	display: flex;
}
.loveEnjoy__info {
	margin-right: 54px;
	width: 586px;
}
.loveEnjoy__info-box-1 {
	margin-bottom: 30px;
}
.loveEnjoy__info-box-1-title {
	font-weight: 700;
	font-size: 45px;
	color: #131313;
	margin-bottom: 24px;
}
.loveEnjoy__info-box-1-desc {
	color: #727272;
}

.loveEnjoy__info-box-2 {
}
.loveEnjoy__info-box-2-grid {
	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
	border-radius: 8px;
	padding: 30px;
	margin-bottom: 20px;
}
.loveEnjoy__info-box-2-grid-title {
	font-weight: 600;
	font-size: 20px;
	color: #131313;
	margin-bottom: 10px;
}
.loveEnjoy__info-box-2-grid-desc {
	font-weight: 400;
	font-size: 16px;
	color: #727272;
}

.loveEnjoy__img {
}
.loveEnjoy__img img {
	width: 100%;
}

/* Some Facts Section Style */
.someFact {
	margin-top: 130px;
}
.someFact__title {
	font-weight: 700;
	font-size: 45px;
	color: #131313;
	margin-bottom: 24px;
}
.someFact__dest {
	font-weight: 400;
	font-size: 16px;
	color: #727272;
}

/* Portfolio Section Style */
.portfolio {
	margin-top: 100px;
}
.portfolio__container {
	display: flex;
}
.portfolio__container-box {
	width: 242px;
	height: 242px;
	border: 1px solid #ff900e;
	border-radius: 8px;
	padding: 45px 36px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.portfolio__container-box img {
	font-size: 45px;
	margin-bottom: 10px;
}
.portfolio__container-box-number {
	font-weight: 600;
	font-size: 45px;
	color: #424242;
	margin-bottom: 5px;
}
.portfolio__container-box-desc {
	font-weight: 600;
	/* font-size: 20px; */
	color: #727272;
}

/* Our Sponsored */
.sponsor {
	margin-top: 180px;
}
.sponsor__info {
	margin-bottom: 50px;
	text-align: center;
}
.sponsor__info-title {
	font-weight: 700;
	font-size: 45px;
	color: #131313;
	margin-bottom: 24px;
}
.sponsor__info-desc {
	color: #727272;
}

.sponsor__img {
	display: flex;
}
.sponsor__img img {
	width: 165px;
}
/* --------------------------
  Main Section Style End
----------------------------- */

/* --------------------------
  Footer Section Style Start
----------------------------- */
.footer{
  margin-top: 130px;
  background: #FFF4E7;
border-radius: 8px;
}
.footer__data{
  padding: 38px 0;
  text-align: center;
  color: #424242;
}
.footer__data a{
  text-decoration: none;
  /* color: #424242; */
}
.footer__data a:hover{
  background-color: gold;
  padding: 5px;
  border-radius: 8px;
}
/* --------------------------
  Footer Section Style End
----------------------------- */

/* --------------------------
  Media Query Start
----------------------------- */

/* --------------------------
  Media Query End
----------------------------- */
